/* regole generali  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url('http://fonts.cdnfonts.com/css/whitney-2');
@import url('http://fonts.cdnfonts.com/css/neue-helvetica');
body{
    font-family: 'whitney','Neue Helvetica','Helvetica','Arial','sans-serif';
}
.clearfix{
    content: '';
    display: table;
    clear: both;
}
a{
    text-decoration: none;
}
/* Regole centralizzazione  */
.centralizzazione{
    width: 80%;
    margin: 0 auto;
}

/* regole bg color  */


/* regole bordo 
#bordo{

} */



/* regole generali classi */
nav{
    width: 100%;
}
.parti, nav ul{
    float: left;
}

.bottone{
    padding: 3px 9px;
    border-radius: 9px;
    
}

/* sezione 1 e 3 del main  */
.bg_white{
    background-color: white;
    padding:60px 0;
}

/* sezione 2 e 4 del main  */
.container{
    padding:60px 0;
}

/* Header  */
header{
    height: 350px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    position: relative;
}
nav .parti{
    width: 25%;
    display: inline-block;
}
.parti a{
    text-decoration: none;
    color: white;
}
/* parte nav  */
header nav{
    width: 100%;
    height: 60px;
    padding-top: 10px;
}
nav ul{
    width: 50%;
    text-align: center;
}
nav li{
    margin: 0 5px;
    list-style: none;
    display: inline-block;
    
}
li a{
    text-decoration: none;
    height: 100%;
    color: white;
}

li .fa-discord{

    font-size: 18px;
    color: white;
}
li #logo{
    color: white;
    line-height: 30px;
    vertical-align: middle;
}

#access{
    text-align: end;
}
#accedi{
    background-color: white;
    color: black;
}

/* jumbotron */
.jumbo{
    width: 60%;
    margin: auto;
    padding: 0 5px;
    
    
}

.jumbo .descrizione_discord{
    margin-bottom: 20px;
}
.row{
    text-align: center;
}

.jumbo h1{
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center;
}
.jumbo #scarica{
    background-color: white;
    color: black;
}
#scarica .fa-arrow-down{
    font-size: 10px;
}
.jumbo #apri{
    margin-left: 20px;
    color: white;
    background-color: black;
}
.jumbo #scarica_apri{
    text-align: center;
}
/* main */
main{

    background-color:#f6f6f6
    /* regole di debug */
}

.section_left{
    float: left;
    width: 70%;
}
.section_left .first_section{
    width: 100%;
    height: auto;
}
.section_right{
   
    float: left;
    width: 30%;
}
.section_right h2{
    font-size: 50px;
    margin-bottom: 15px;
}

/* quarta sezione  */
.quarta h2{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.quarta p{
    text-align: center;
}
.ultima_img{
    width: 100%;
    margin: 0 auto;
}
.ultima_img img{
    width: 100%;
    height: auto;
}
.quarta #image_stelline{
    background-image: url(../img/stars.svg);
    width: 58%;
    margin: 0 auto;
}
#image_stelline h2{
    font-size: 35px;
}  
.scaricare{
    color: white;
    background-color: #5865f2;
    padding: 15px;
    font-size: 20px;
    border-radius: 25px;
}
#scaricare_section_end{
    text-align: center;
}
/* footer  */
#foot{
    padding-top: 50px;
}
footer .contenitore{
    width: 100%;
    border-bottom: 2px solid #5865f2;
    padding-bottom: 50px;
}
footer #uno{
    width: 40%;
}

.float{
    float: left;
    width: 15%;
}

#uno h2{
    margin-bottom: 30px;
    color: #5865f2;
    font-weight: bold;
    font-size: 50px;
}
#uno #ita{
height: 20px;
}
#ita img{
    height: 12px;
    width: auto;
}
#ita #spazio{
    padding: 0 5px;
}
.sx li{
    display: inline-block;
    margin: 10px 10px 0 0;
}
li .fab{
    font-size: 24px;
}

footer li{
    list-style: none;
    margin: 10px 0;
    font-size: 10px;
}
footer .name{
    color: #5865f2;
}
.down{
    width: 100%;
    padding:50px  0;
}
.down #registrati{
    width: 80%;
    text-align: end;
    float: left;
}
#logo_footer{
    width: 20%;
    float: left;
}

footer{
    background-color: rgb(26, 26, 26);
}
